  body
  {
    background-color: powderblue;
  }
  h1
  {
    color: blue;
  }
  p
  {
    color: red;
  }
  #h4
  {
    border: 2px solid pink;
    padding: 20px;
    margin: 10px;
  }
  pRED.error
  {
      color: red;
  }
/*
  a.link
  {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
  }
  a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  */
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(8, 11, 212);
  }
  #time
  {
    color: black;
    font-size: 200%;
  }